.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#1475f5;
    padding: 5px 100px;
    color: white;
    position: sticky;
    top: 0px;
}
.menu{
    display: flex;
    gap: 20px;
    
}.menu a{
    color: white;
    text-decoration: none;
}
.world{
    height: 70vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVp_dJrX0-zGl5sEPxk0Oqh8x6x7YFSEShHA&s);
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}
.world-content{
    margin-top: 150px;
}
.world button{
    padding: 10px 20px;
    background: yellow;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.about-destination{
    text-align: center;
    padding: 60px;
}
.image{
    margin-top: 30px;
}
.destination-card{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 8px;
}
.card{
    /* display: inline-block;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
     overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  */
    width: 400px;
    height: 300px;
    margin: 20px;
    background-color: whitesmoke;
}
.about-packages{
    text-align: center;
    padding: 40px;
    background: whitesmoke;
    height: 40vh;
}
.packages-card{
    width: 400px;
    height: 200px;
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.card-packages{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 8px;
}
.packages-card button{
    color: white;
    padding: 10px 25px;
    background: rgb(64, 87, 199);   
}
.gallery{
    text-align: center;
    padding: 60px;
}

.gallery-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 100px;
    padding-right: 100px;  
    gap: 10px;
}
.Contact{
    text-align: center;
    padding: 60px;
    background-color: whitesmoke;
    
}
.Contact input{
    padding: 10px;
    width: 300px;
}
.Contact textarea{
    padding: 10px;
    width: 300px;  
}
.Contact button{
    padding: 10px 25px;
    background: rgb(64, 87, 199);
    color: white;  
    width: 320px; 
}
.ft{
    color: white;
    background: #1475f5;
    text-align: center;
    padding: 5px;
}