.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 20px 50px;
    color: white;
    position: sticky;
    top: 0px;
}
.menu{
    display: flex;
    gap: 20px;
    
}
.menu a{
    color: white;
    text-decoration: none;
}
.hero{
    height: 70vh;
    background: linear-gradient(to right,teal,#2c3e50);
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    
}
.hero-content{
    width: 300px;
    border-radius: 10px;

}
.image{
    margin-top: 50px;
}
.hero span{
    color: gold;
}
.hero button{
    margin-top: 15px;
    padding: 10px 25px;
    background: gold;   
}
.about{
    text-align: center;
    padding: 60px;
}
.skills{
    padding: 40px;
    padding-bottom: 0px;
    text-align: center;
}
.skill-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 8px;
}
.box-card{
    background-color: whitesmoke;
    height: 30px;
    width: 200px;
    padding-top: 20px;
    border-radius: 8px;

}
.project-card{
    background-color: whitesmoke;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
}
.contact{
    padding: 60px;
    text-align: center;
}
.contact form{
    display: flex;
    flex-direction: column;
    width: 300px;
    
    margin: auto;
}
.contact input,
.contact textarea{
    padding: 10px;
    border: 1px solid #ccc;
}
.contact button{
    background: gold;
    padding: 15px;
}
.ft{
    /* display: flex;
    align-items: center; */
     color: white;  
    background: black;
}
 .last{
    text-align: center;
    padding: 10px;
 }  