.container{
   text-align: center;
   background-color:whitesmoke; 
   background-size: cover; 
   height: 280px;
   width: 280px;
   border-radius: 10px;
   padding: 30px 20px;
   font-size: 20px;
   margin-top: 30px;
   margin-left: 100px;
   font-family: 'Times New Roman', Times, serif;
   box-shadow: 5px  gray;
}
h1{
    background-color:  #1976d2;
    color: white;
    font-size: 20px;
    padding: 5%;
    border-radius: 5px;
}
