body {
    margin: 0;
    background: #ffffff;
}

.gallery {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 220px 220px 220px;
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


.img3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}


.img4 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}


.img5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}


.img6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}